/*THIS CSS FILE IS ORGANIZED FROM WITH THEMED STYLINGS FIRST AND THEN FROM TOP TO BOTTOM AND MIRRORS THE VERTICAL STRUCTURE ON THE WEBSITE.
DISPLAY WIDTH: 63%;
*/

html {
  background-color: #4C5760;
}

/*GENERAL STRUCTURAL WIDTH PROPERTIES HERE */

body> div {
  width: 63%;
  margin: 0 auto;
}
body> h1 {
  margin: 0 auto;
}

/*THEME STYLINGS BY CLASS FOR EASIER CONTROL*/

.yellowfonttheme {
  color: #FFC145;
  font-weight: bolder;
  text-align: center;
}
.darkfonttheme {
  color: #4C5760;
  font-weight: bolder;
  text-align: center;
  background-color: #FFC145;
}
.box {
  /*CALLED DIFFERENTLY FROM DARKFONT BECAUSE CALLING THIS IN AS A CLASS IN JAVASCRIPT*/
  color: #4C5760;
  font-weight: bolder;
  text-align: center;
  background-color: #FFC145;
}

/*TOP IMAGE */

img {
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 1%;
  display: block;
  height: 5%;
  width: 5%;
}

/*INSTRUCTIONS LINK BOX ON TOP. ON CLICK, THERE IS A SLIDE TOGGLE OF INSTRUCTIONS TEXT */

#instructionslink {
  font-size: 1.1em;
  padding: 0.25% 0;
}
#instructionslink:hover {
  background-color: #FFE342;
  cursor: pointer;
}
#instructionstext {
  background-color: #4E4B5C;
  color: white;
  font-size: 0.8em;
  display: none;
  padding: 0.5% 0;
}

/*TOP BAR THAT HOLDS THE PLAYER TIMERS AND RESET BUTTON. */

#timerresetcontainer {
  height: 15%;
}
#reset {
  width: 18%;
  height: 24px;
  background-color: #4C5760;
  font-size: 1.08em;
  border-radius: 5px;
  border: 1px solid #FFC145;
  display: inline-block;
  margin: 0.5% 2%;
  padding: 0.22% 0;
}
#reset:hover {
  cursor: pointer;
}
#playeronetimer, #playertwotimer {
  width: 38.2%;
  height: 24px;
  border: 1px solid #5D6872;
  display: inline-block;
  margin-top: 0.7%;
  margin-bottom: -0.65%
}
#playeronebar, #playertwobar {
  position: absolute;
  width: 1%;
  height: 24px;
  background-color: #5D6872;
}

/*SECOND BAR FROM THE TOP THAT HOLDS THE PLAYER SCORES AND START BUTTON. */

#start {
  background: #749C75;
  width: 22.2%;
  font-size: 1.5em;
  display: inline-block;
  box-sizing: border-box;
}
#start:hover {
  background: #96AC85;
  cursor: pointer;
}
#ponescorebar, #ptwoscorebar {
  width: 38.4%;
  font-size: 1.5em;
  display: inline-block;
  box-sizing: border-box;
}

/*MAIN HEADER WITH THE LARGEST TEXT FONT. USED FOR TITLE AND INDICATING PLAYER TURN. */

#headertext {
  font-size: 5.65em;
}

/*BLOCK HOLDING THE QUESTION. IN IT IS THE QUESTION HEADER AND QUESTION STATEMENT. */

#questioncontainer {
  box-sizing: border-box;
  background-color: #4E4B5C;
  border: 2px solid #FFC145;
}
#questionheader {
  font-size: 2em;
}
#questiontext {
  font-size: 1.3em;
  padding: 4%;
}

/*TRUE AND FALSE BOX AND WHERE THE USER INPUTS THEIR ANSWERS. */

#truefalsecontainer {
  height: 40%;
}
#truebox, #falsebox {
  box-sizing: border-box;
  width: 49.75%;
  display: inline-block;
  font-size: 4.5em;
  padding: 3%;
  margin: 1% 0;
}
#truebox {
  background-color: #0A8754;
}
#truebox:hover {
  background-color: #097643;
  cursor: pointer;
}
#falsebox {
  background-color: #FF6B6C;
}
#falsebox:hover {
  background-color: #DD383A;
  cursor: pointer;
}

/*LASTLY, BAR BELOW THAT SHOWS COMMENTARY DURING THE GAME. */

#commentarybar {
  font-size: 1.5em;
  padding-top: 1.3%;
  padding-bottom: 0.05%;
}
